<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Information</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/main.css" rel="stylesheet" media="screen" type="text/css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body>
<div class="container main profit">
<center><h1>STOCK INFORMATION FOR {{ticker}}</h1></center>
<br>
<hr>
<p>Time: {{ ltime}}</p>
<p> Company Name : {{cname}}</p>
<p>Latest Price:  ${{lprice}}</p>
<p>Change : ${{change}}</p>
<p>Change Percent: ${{cpercent}}</p>

</div>
<div class="footer"><p>Copyright  © Amreen Abdul Wahab</div>
    </body>
</html>